@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100;
  font-family: "Segoe UI", system-ui, sans-serif;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { @apply bg-gray-900; }
::-webkit-scrollbar-thumb { @apply bg-gray-600 rounded; }
